.star li {
  list-style: none;
}
li {
  display: flex;
  align-items: center;
}
.star {
  border-right: 1px solid rgb(237, 229, 229);
  width: 300px;
}
.moon {
  border-top: 1px solid rgb(237, 229, 229);
  padding: 22px;
}
.titel {
  border-top: 1px solid rgb(237, 229, 229);
  padding: 22px;
}
.timtim {
  border-top: 1px solid rgb(237, 229, 229);
  padding: 22px;
}
.ayush {
  border-top: 1px solid rgb(237, 229, 229);
  padding: 22px;
}
.timtim h4 {
  color: rgba(255, 0, 0, 0.56);
  margin: 10px;
}
.moon h4 {
  color: rgba(255, 0, 0, 0.56);
  margin: 10px;
}
.room {
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 13px;
  margin: 15px;
}
.jon {
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin-left: -14px;
}
.himanshu {
  font-size: 10px;
  color: gray;
}
.star h3 {
  margin-left: -15px;
}
.hello h3 {
  margin: 11px;
  font-size: 15px;
  padding: 14px;
  margin-left: 9px;
}
.hello p {
  margin: 6px;
}
.hello ul {
  padding: 13px;
  font-size: 13px;
  margin-top: -18px;
  margin-left: 10px;
}
.moon p {
  margin: 7px;
  font-size: 13px;
}
.room img {
  margin-right: 26px;
}
.titel h3 {
  margin: 15px;
  font-size: 15px;
  margin-left: 0px;
}
.titel p {
  margin: 6px;
  font-size: 13px;
}
.jon h3 {
  margin: 15px;
  font-size: 15px;
  margin-left: 13px;
}
.timtim p {
  margin: 5px;
  font-size: 13px;
}
.ayush h3 {
  margin: 15px;
  font-size: 15px;
  margin-left: 0px;
}
.ayush p {
  margin: 5px;
  font-size: 13px;
}
