.hello ul {
  font-size: 13px;
  border-top: 30px;
}

.hello h3 {
  font-size: 15px;
  padding: 14px;
  margin-left: 15px;
}
.hello {
  border-top: 1px solid rgb(237, 229, 229);
}
.root {
  color: red;
  margin-left: 40px;
  cursor: pointer;
  padding: 12px;
  margin-top: -19px;
}
.mood {
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 60px;
}
.mind {
  position: relative;
}
