* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cantainer {
  margin: 5rem;
}

h2 {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
}
p {
  font-size: 0.9rem;
  margin: 1rem 0 2.4rem 0;
  line-height: 1.8rem;
  color: #212121;
  font-weight: 400;
  font-family: 'Source Serif Pro', serif;
}
.modal-btn {
  border: none;
  border-radius: 0.3rem;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  transform: scale(0.9);
}
.modal-btn:hover {
  background-color: #fff;
  color: #212121;
  border: #212121;
  transform: scale(1);
  transition: all 0.1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px;
}
