.car {
  margin: 40px;
  margin-left: 130px;
}
.model {
  border-bottom: 1px solid #d4d5d9;
  padding: 20px 0;
}
.over {
  border-right: 1px solid #d4d5d9;
  width: 180px;
}
.himanshu {
  padding: 15px 0;
  border-bottom: 1px solid #d4d5d9;
  width: 145px;
  font-size: 12px;
  color: #4f515b;
}

.top {
  color: #14cda8;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
}
.botal {
  padding: 20px 0;
  margin-left: 1px;
  font-size: 9px;
  color: gray;
}
.model h1 {
  font-size: 15px;
}
.model p {
  font-size: 10px;
}
.holl {
  width: 145px;
  font-size: 12px;
  color: #4f515b;
}
.hook {
  cursor: pointer;
}
