.hehe {
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}
.conter {
  background-color: white;
  display: flex;
  gap: 14px;
  flex-direction: column;
  padding: 20px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  color: #535766;
}
.content {
  color: #535766;
  font-size: 13px;
}
.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.text {
  cursor: pointer;
  width: 40%;
  border: 1px solid #eaeaec;
  padding: 8px;
  background-color: white;
  border-radius: 5px;
}
.mandal {
  cursor: pointer;
  border: 1px solid #eaeaec;
  padding: 8px;
  background-color: white;
  color: #ff3f6c;
  border-radius: 5px;
}
.house {
  vertical-align: middle;
  margin: 4px;
}
.container {
  max-height: 115px;
  overflow: auto;
}
