.content {
  background-color: white;
  font-weight: 800;
  padding: 15px;
  border-bottom: 1px solid #d4d5d9;
}
.fackbook {
  margin: 10px 0px;
  background-color: white;
  padding: 20px;
  border: 0px;
}
