.container {
  width: 530px;
  background-color: rgba(235, 232, 232, 0.955);
  border: 1px solid #d4d5d9;
  display: flex;
  flex-direction: column;
}
h4 {
  margin: 6px 0px;
  margin-left: 25px;
}
.content {
  background-color: white;
  font-weight: 800;
  padding: 15px;
  border-bottom: 1px solid #d4d5d9;
}
.fackbook {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
}
.fackbook p {
  margin: 12px;
  color: gray;
}

.not {
  margin: 10px;
  cursor: pointer;
}
.himanshu {
  cursor: pointer;
}
.bool {
  margin-left: 105px;
  cursor: pointer;
}
.house {
  cursor: pointer;
  margin-left: 6px;
}
.top {
  margin: 6px;
  margin-left: 1px;
}
.abhi {
  border: 1px solid #d4d5d9;
}

.button {
  padding: 16px;
  width: 260px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #d4d5d9;
}
.tag {
  padding: 16px;
  width: 263px;
  cursor: pointer;
  background-color: rgb(188, 184, 184);
  border: 1px solid #d4d5d9;
}
.two {
  color: white;
}
.footer-button {
  padding: 0;
}
